# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Packaging
*.egg-info/
.eggs/
dist/
build/
*.egg

# Virtual environments
.venv/
venv/
ENV/
env/
.conda/
conda-bld/

# Jupyter notebooks checkpoints
*.ipynb_checkpoints

# Logs
*.log

# OS / Editor junk
.DS_Store
Thumbs.db
.idea/
.vscode/

# Other
*.tar.bz2
*.tar.gz
